{% if error == true %}
<p>Already scan</p>
<br>
{% endif %}

<p>id : {{ ticket.id }}</p>
<p>price : {{ ticket.price }}</p>
<p>status : {{ ticket.status }}</p>
<p>currency : {{ ticket.currency }}</p>
<p>orderId : {{ ticket.orderId }}</p>
<p>captureId : {{ ticket.captureId }}</p>
<p>participant : {{ ticket.participant }}</p>
<p>create : {{ ticket.createTime | date("m/d/Y h:m:s") }}</p>
<p>update : {{ ticket.updateTime | date("m/d/Y h:m:s") }}</p>
<p>event : {{ ticket.idEvent.id }}</p>
<p>Scan : {{ ticket.scan }}</p>