<nav class="navbar navbar-expand-lg shadow ps-4 pe-4 navbar-right">
    <a class="navbar-brand" href="{{ url('app_main') }}">Đồng Hành</a>
    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> #}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            {% if path(app.request.attributes.get('_route')) == "/" %}
            <li class="nav-item">
                <a class="nav-link" href="#introduction">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#join-us">Join us</a>
            </li>
            {# <li class="nav-item">
                <a class="nav-link" href="#adventure">Adventure</a>
            </li> #}
            <li class="nav-item">
                <a class="nav-link" href="#team">Team members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ url('app_main') }}">Home</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_account') }}" tabindex="-1">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}" tabindex="-1">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_login') }}"><button type="button" class="btn btn-dark-blue">Login<i class="fa-solid fa-user ms-2"></i></button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_signin') }}"><button type="button" class="btn btn-dark-blue">Signup<i class="fa-solid fa-right-to-bracket ms-2"></i></button></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>