{% extends 'base.html.twig' %}
{% block body %}

<section class="checkout">
    <div class="progresses py-4">
        <ul class="d-flex align-items-center justify-content-between">
            <li id="step-1" class="d-flex align-items-center justify-content-between"><i
                    class="fa-regular fa-circle-check"></i> <a>Register</a></li>
            <li id="step-2" class="d-flex align-items-center justify-content-between"><i
                    class="fa-regular fa-circle-check"></i> <a>Order</a></li>
            <li id="step-3" class="d-flex align-items-center justify-content-between"><i
                class="fa-regular fa-circle"></i> <a>Checkout</a></li>
            {# <li id="step-3" class="d-flex align-items-center justify-content-between"><i
                    class="fa-regular fa-circle"></i> <a href="{{ url('app_main') }}">Confirmation</a></li> #}
        </ul>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-12 col-md-8 cart">
                <div class="row">
                    <div class="col"><h4>Shopping Cart</h4></div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><i class="fa-sharp fa-solid fa-ticket"></i></div>
                        <div class="col">
                            <div class="row text-muted">{{ event.label }} - Summer Camp {{ event.year }}</div>
                            <div class="row text-muted">{{ option }}</div>
                            <div class="row">1 Ticket</div>
                        </div>
                        <div class="col">
                            <span></span>
                        </div>
                        <div class="col">&euro; {{ price }}</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 summary">
                <h4>Summary</h4>
                <hr>
                <div class="row">
                    <div class="col">{{ event.label }} - Summer Camp {{ event.year }}</div>
                    <div class="col text-right">&euro; {{ price }}</div>
                </div>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro; {{ price }}</div>
                </div>
                <div class="row">
                    <div class="col-12 g-3">
                        <div class="information">
                            <p>*Đồng Hành provides a refund before {{ expireAt | date("l jS F Y") }}.</p>
                        </div>
                    </div>
                </div>

                {{ paypalInterface | raw }}
            </div>
        </div>
    </div>
</section>

{% endblock %}