{% extends 'base.html.twig' %}
{% block body %}

<form method="POST">
    <section class="register-form">
        <div class="progresses py-4">
            <ul class="d-flex align-items-center justify-content-between">
                <li id="step-1" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle-check"></i> <a>Register</a></li>
                <li id="step-2" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a>Order</a></li>
                <li id="step-3" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a>Checkout</a></li>
                {# <li id="step-3" class="d-flex align-items-center justify-content-between"><i
                        class="fa-regular fa-circle"></i> <a href="{{ url('app_main') }}">Confirmation</a></li> #}
            </ul>
        </div>
        <div class="wrapper-card">
            <div class="row">
                <div class="col-12 g-3 text-center">
                    <p>{{ event.label }} - Summer Camp {{ event.year }} - Ticket</p>
                    <p>Choose your plan</p>
                </div>
                <div class="container">
                    <div class="radio-tile-group">
                        <div class="input-container">
                            <input id="walk" class="radio-button" type="radio" name="option" value="1" onchange="document.getElementById('register').disabled = !this.checked;" />
                            <div class="radio-tile">
                                <div class="icon walk-icon">
                                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7" />
                                    </svg>
                                </div>
                                <label for="walk" class="radio-tile-label">{{ event.price[1] }} €</label>
                                <label for="walk" class="radio-tile-label">Without transportation*</label>
                            </div>
                        </div>

                        <div class="input-container">
                            <input id="drive" class="radio-button" type="radio" name="option" value="0" onchange="document.getElementById('register').disabled = !this.checked;" />
                            <div class="radio-tile">
                                <div class="icon car-icon">
                                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z" />
                                        <path d="M0 0h24v24H0z" fill="none" />
                                    </svg>
                                </div>
                                <label for="drive" class="radio-tile-label">{{ event.price[0] }} €</label>
                                <label for="drive" class="radio-tile-label">With transportation included*</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center g-3">
                        <div class="information">
                            <p>*Đồng Hành only provides a bus from the Copenhagen Airport to the Camp location (and on the way back). You can choose to travel by yourself.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" id="register" class="btn btn-dark-blue btn-lg"
                        disabled="disabled">Valide</button>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}